<div class="page-login">
  <div class="container-login">
    <ul>
      <li class="connect-facebook">
        <a href="/">
          <img
            src="icons/facebook-icon.svg"
            class="m-4"
            alt="Login with Facebook"
            loading="eager"
          />
          <p>Connect with Facebook</p>
        </a>
      </li>
      <li class="form-login">
        <form>
          <p class="label-form">Log in with awesome new thing</p>
          <mat-form-field class="w-100">
            <mat-label>username or email</mat-label>
            <input matInput placeholder="Ex. example@email.com" />
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-label>password</mat-label>
            <input matInput type="password" />
          </mat-form-field>
          <span class="forgot-password"
            ><a href="/">Forgot your password?</a></span
          >
          <div class="container-btn">
            <button type="submit" class="btn-submit">
              <img
                src="icons/arrow-rigth.svg"
                alt="Submit form"
                loading="eager"
              />
              <!-- <app-spinner /> -->
            </button>
          </div>
        </form>
      </li>
    </ul>
  </div>
</div>
