<main class="page-login">
  <section class="container-login">
    <ul>
      <li class="connect-facebook">
        <a [routerLink]="['/']">
          <picture>
            <source
              media="(max-width: 685px)"
              srcset="icons/facebook-icon-small.svg"
            />
            <img
              src="icons/facebook-icon.svg"
              class="m-4"
              alt="Login with Facebook"
              loading="lazy"
            />
          </picture>
          <p>Connect with Facebook</p>
        </a>
      </li>
      <li class="form-login w-100">
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
          <p class="label-form">Log in with awesome new thing</p>
          <div class="field-username">
            <mat-form-field class="w-100">
              <mat-label>username or email</mat-label>
              <input
                matInput
                type="text"
                placeholder="Ex. example@email.com"
                formControlName="username"
                (focus)="usernameFocus = true"
                (blur)="usernameFocus = false"
              />
              @if (!f["username"].value?.length && f["username"].errors) {
              <mat-error>Username or email is required!</mat-error>
              } </mat-form-field
            >@if (usernameFocus && f["username"].value?.length &&
            f["username"].errors) {
            <div class="required-username">
              <p class="text-info">The username field must contain:</p>
              <ul>
                <li
                  [ngClass]="{
                    'text-danger': f['username'].errors,
                  }"
                >
                  From 6 to 50 characters!
                </li>
              </ul>
            </div>
            }
          </div>
          <div class="field-password">
            <div class="input-passaword">
              <mat-form-field class="w-100">
                <mat-label>password</mat-label>
                <input
                  matInput
                  [type]="passwordVisible ? 'text' : 'password'"
                  formControlName="password"
                  (focus)="passwordFocused = true"
                  (blur)="passwordFocused = false"
                />
                @if (!f["password"].value?.length && f["password"].errors) {
                <mat-error>Password is required!</mat-error>
                }
              </mat-form-field>
              <img
                src="icons/eye.svg"
                alt="Eye password"
                loading="lazy"
                class="eye-password"
                (click)="showPassword()"
              />
            </div>
            @if (passwordFocused && f["password"].value?.length &&
            f["password"].errors) {
            <div class="required-password">
              <ul>
                <p class="text-info">The user password field must contain:</p>
                <li
                  [ngClass]="{
                    'text-danger': f['password'].errors['number'],
                    'text-success': !f['password'].errors['number']
                  }"
                >
                  Must contain number.
                </li>
                <li
                  [ngClass]="{
                    'text-danger': f['password'].errors['missingLetter'],
                    'text-success': !f['password'].errors['missingLetter']
                  }"
                >
                  Must contain letters.
                </li>
                <li
                  [ngClass]="{
                    'text-danger': f['password'].errors['symbol'],
                    'text-success': !f['password'].errors['symbol']
                  }"
                >
                  Must contain special character.
                </li>
                <li
                  [ngClass]="{
                    'text-danger': f['password'].errors['minlength'],
                    'text-success': !f['password'].errors['minlength']
                  }"
                >
                  Must contain at least 10 characters.
                </li>
              </ul>
            </div>
            }
          </div>
          <p class="forgot-password">
            <a [routerLink]="['/']">Forgot your password?</a>
          </p>
          <div class="container-btn">
            <button type="submit" class="btn-submit">
              @if (!spinner) {
              <img
                src="icons/arrow-rigth.svg"
                alt="Submit form"
                loading="lazy"
              />
              } @else {
              <!-- Loader -->
              <app-spinner />
              }
            </button>
          </div>
        </form>
      </li>
    </ul>
  </section>
</main>
