<div class="page-login">
  <div class="container-login">
    <ul>
      <li class="connect-facebook">
        <a href="/">
          <img
            src="icons/facebook-icon.svg"
            class="m-4"
            alt="Login with Facebook"
            loading="eager"
          />
          <p>Connect with Facebook</p>
        </a>
      </li>
      <li class="form-login">
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
          <p class="label-form">Log in with awesome new thing</p>
          <mat-form-field
            class="w-100"
            [ngClass]="{
              'border border-danger': submitForm && f['username'].errors
            }"
          >
            <mat-label>username or email</mat-label>
            <input
              matInput
              type="text"
              placeholder="Ex. example@email.com"
              formControlName="username"
            />
          </mat-form-field>
          <span class="feedback-field">Campo inválido!</span>
          <mat-form-field
            class="w-100"
            [ngClass]="{
              'border border-danger': submitForm && f['password'].errors
            }"
          >
            <mat-label>password</mat-label>
            <input matInput type="password" formControlName="password" />
          </mat-form-field>
          <span class="feedback-field">{{ f["password"].errors | json }}</span>
          <p class="forgot-password"><a href="/">Forgot your password?</a></p>
          <div class="container-btn">
            <button type="submit" class="btn-submit">
              @if (!spinner) {
              <img
                src="icons/arrow-rigth.svg"
                alt="Submit form"
                loading="eager"
              />
              } @else {
              <app-spinner />
              }
            </button>
          </div>
        </form>
      </li>
    </ul>
  </div>
</div>
