// Reset CSS
@use './app/assets/reset';

// Toastr
@use 'ngx-toastr/toastr';

// Bootstrap
@import 'bootstrap/dist/css/bootstrap.min.css';


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
